/* Fuente Oswald*/
@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 700; /* Soporta todos los grosores del archivo variable */
  font-style: normal;
  font-display: swap;
}

/*Integrante 2: Header, navegación (incluyendo :hover) y footer.*/

:root {
    /* Colores ajustados para contraste >= 8:1 */
    --color-primario: #8b0000;    /* rojo oscuro */
    --color-secundario: #5e0000;  /* rojo secundario más oscuro */
    --color-acento: #b30000;      /* acento rojo oscuro */
    --color-fondo: #ffffff;       /* fondo claro */
    --color-texto: #0b0b0b;       /* texto muy oscuro */
    --fuente-principal: 'Roboto', sans-serif;
}




* {
    /*Integrante 1: Reset*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuente-principal);
    font-size: 16px;
    line-height: 1.6;
    
    /*Elimine el max-widt para agrandar la pagina.*/

    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--color-fondo);
    color: var(--color-texto);

    overflow-x: hidden; /*Para evitar scroll horizontal.*/
}

header {
    background-color: var(--color-primario);
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    border-bottom: 4px solid var(--color-acento);

    /*Integrante 3: Espaciado y box model. Flexbox.*/
    display:flex;
    align-items:center; /*Centra verticalmente. */
    justify-content:center; /*Centra horizontalmente. */
    gap:20px; /*Espacio entre logo y texto.*/
}

header h1 { /* Integrante 2: Header */
    font-size: 2.5rem;
    margin-bottom: 1rem;

    /*Integrante 3: Espaciado y box model. Flexbox.*/
    display: flex;
}

nav { /* Integrante 2: Navegación (incluyendo :hover) */
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center; 
}

nav ul { /* Integrante 2: Navegación (incluyendo :hover) */
    list-style: none;
    padding: 0;
}

nav li { /* Integrante 2: Navegación (incluyendo :hover) */
    display: inline-block; 
    margin: 0 10px;        
}

nav a { /* Integrante 2: Navegación (incluyendo :hover) */
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    display: inline-block; 

    /*Integrante 3: Espaciado y box model.*/
    display: flex;
}


nav a:hover {
    background-color: var(--color-acento);
    border-radius: 4px;
}

footer {
    background-color: var(--color-secundario);
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    margin-top: 3rem;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

footer a { /* Integrante 2: Footer */
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
    font-weight: 700;
}

footer a:hover {
    color: var(--color-acento);
}


main {
    /*Integrantes 3. Color.*/
	background-color: var(--color-fondo);
    color: var(--color-texto);

    /*Integrantes 3. Espaciado y box model.*/
    margin: auto;
    padding: 1rem;
    max-width: auto;
}

img {
    max-width: 100%;
    height: auto;
}

section, article, aside {
    /*Integrantes 3. Espaciado y box model.*/
    margin: auto; /*Centra el contenido.*/
    padding: 0 1rem;
    flex-wrap:wrap;
    gap:1.5rem;
    justify-content:center;

    display: flex;
}

.Programas-Iniciativas {
    /*Integrantes 3. Color.*/
    background-color: white;
    color: var(--color-texto);

    /*Integrantes 3. Espaciado y box model.*/
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}
.card {
    /*Integrante 3: Espaciado y box model.*/
    flex:1 1 350px;
    padding:1.5rem;
    border:2px solid var(--color-primario);
    border-radius:8px;

    display: flex;
}

.card p,
.card h2,
.card h3{
    overflow-wrap: break-word;
}

h1{
    /*Integrantes 3. Tipografía, y color de heading.*/
	font-size: 3em;
    color: var(--color-texto);
} 

h2 {
    /*Integrantes 3. Tipografía, y color de heading.*/
	font-size: clamp(1.5rem, 4vw, 2.5rem); /*clamp() = cambia el tamaño segun la pantalla.*/
	color: var(--color-primario);
} 

h3 {
    /*Integrantes 3. Tipografía, y color de heading.*/
	font-size: clamp(1.5rem, 4vw, 2.5rem); /*clamp() = cambia el tamaño segun la pantalla.*/
}

p, ol, ul{
    /*Integrantes 3. Espaciado y box model. */
	margin: 0 auto;
    padding: 0 1rem;
}

li{
    /*Para evitar que las listas sean muy largas. Como contienen muchos parrafos, en movil se vera mejor asi.*/
    line-height: 1.7;
    margin-bottom: .8rem;
}


/*Integrantes 3. Para el titulo. Del archivo "programas.html".*/
.DefinicionDe_enfermedades{
    /*Integrantes 3. Espaciado y box model. Este es el contenedor principal. */
    max-width: 900px;
    margin: 2em auto;
    padding: 2em;

    /*Integrantes 3. Tipografía, y color.*/
    border-radius: 8px;
}

.DefinicionDe_enfermedades h3 {
    /*Tipografía, y color. Espaciado. */
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1em;
    color: #102a5a; /* azul más oscuro para mejor contraste */
    border-bottom: 2px solid var(--color-secundario);
    padding-bottom: 0.5em;
}
.DefinicionDe_enfermedades p {
    text-align: center;
    margin-bottom: 2em;
}
.DefinicionDe_enfermedades a {
    /* Color.  */
    color: #003e7e;
    text-decoration: none; /*Cuando pasas por el cursor, aparece una linea por debajo de las letras.*/
}
.DefinicionDe_enfermedades a:hover{
    text-decoration: underline;
}


.DefinicionDe_enfermedades dl{
    /*Tipografía, y color. Espaciado. Flexbox. */
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.DefinicionDe_enfermedades dt{
    /*Tipografía, y color. Espaciado.*/
    font-size: 1.2rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 0.2em;
}

.DefinicionDe_enfermedades dd{
    /*Tipografía, y color. Espaciado.*/
    margin-left: 0;
    padding: 1em;
    background-color: var(--color-fondo);
    border-left: 5px solid #1f3c88;
    border-radius: 8px;
    color: var(--color-texto);
}

.DefinicionDe_enfermedades dd:hover{
    /* Efecto al pasar el mouse, por las definiciones. */
    transform: translateX(5px);
    transition: 0.3s; /*El tiempo que se expande el contenido.*/
    background-color: var(--color-primario);
    color: #ffffff;
}


/*Para la función de javascript del boton oscuro: al dar clik, todo la pagina entra en modo oscuro..*/
.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .card {
    background-color: #2d2d2d;
    color: white;
}

.dark-mode .form-control {
    background-color: #444;
    color: white;
    border-color: #666;
}

.dark-mode .form-control::placeholder {
    color: #bbb;
}





/* Integrante 4: Personalización Bootstrap */

.navbar{
    border-radius: 12px;
}

.table th{
    background-color: var(--color-primario);
    color: white;
}

button{
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}

button:hover{
    background-color: #a50c0c;
}

.badge{
    font-size: 0.9rem;
    padding: 8px 12px;
}



/* Bootstrap - personalizaciones del integrante 2*/
.btn-ong {
    background-color: var(--color-primario, #750606); /* Color rojo oscuro de ejemplo */
    color: white; /* Color del texto */
    border: none;
    transition: background-color 0.3s ease;
}

/* Efecto al pasar el mouse por encima (hover) */
.btn-ong:hover {
    background-color: #a81c1c; /* Un rojo más oscuro para el hover */
    color: white;
}

.tabla-programas{
    width:100%;
    border-collapse:collapse;
    margin-top:30px;
    background:white;
}

.tabla-programas th{
    background: var(--color-primario);
    color: #ffffff;
    padding:15px;
    text-align:left;
}

.tabla-programas td{
    padding:15px;
    border:1px solid #d9d9d9;
}

.tabla-programas tbody tr:nth-child(even){
    background:#f5f5f5;
}

.tabla-programas tfoot{
    font-weight:bold;
    background:#efefef;

}

body{
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.formulario{
    width:500px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

h2{
    color: var(--color-primario);
    margin-bottom:10px;
}

p{
    color: var(--color-texto);
    margin-bottom:25px;
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

input,
select,
textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
}

textarea{
    resize:vertical;
}

button{
    background:#d71920;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#b31318;
}